* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
  cursor: pointer;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.test {
  padding: 5rem;
}
.test .title, .test .heading, .test .sub-heading, .test .body-text {
  padding-bottom: 2em;
}
.test .title {
  padding-top: 2em;
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.test .heading {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.test .sub-heading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.test .body-text {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.test .btn-one {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.test .btn-two {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #D5E0A8;
  color: #4A4F4F;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.test .btn-three {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}

.nav {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.nav__logo {
  flex-basis: 30%;
  z-index: 51;
}
.nav__navigation {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
}
.nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 10vw;
  display: none;
}
.nav__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 10vw;
}
.nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9em;
  color: #fff;
}
.nav-li {
  font-family: "Assistant", sans-serif;
  font-size: 1.6em;
  font-weight: 200;
}
.nav-li:hover {
  color: #D5E0A8;
}
.nav-back {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}
.nav__btn {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
}
.nav__back {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
}
.nav-fa-landing {
  color: #F4794F;
  font-size: 3em;
}
.nav-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}

.card {
  border: none;
  background: none;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.card-body p {
  margin: 0;
}
.card-body-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body-bottom {
  color: #C3C3B7;
  font-style: italic;
}

.landing__hero {
  height: 100vh;
  width: 100%;
  background: url("../img/tom-crew-hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
  z-index: 30;
}
.landing__hero-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.landing__hero .landing__intro {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5em;
  text-align: center;
  width: 50%;
  z-index: 100;
}
.landing__hero .landing__intro-header {
  margin-right: 38%;
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.landing__hero .landing__intro-heading {
  color: #EFEFEB;
  font-size: 5rem;
}
.landing__hero .landing__intro-rotate {
  display: inline;
  text-indent: 0.4em;
}
.landing__hero .landing__intro-rotate-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #D5E0A8;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-header {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.landing__hero .landing__intro-subheading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #EFEFEB;
}
.landing__hero .landing__intro-proceed {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4em;
}
.landing__hero .landing__intro-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  color: #EFEFEB;
}
.landing__hero .landing__intro-btn-alt {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  color: #D5E0A8;
}

.landing__background {
  width: 100%;
  height: 130vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing__background-img:nth-child(1) {
  position: relative;
  top: 10em;
}
.landing__background-img:nth-child(2) {
  position: relative;
  z-index: 20;
}

.landing__body {
  height: 140vh;
  width: 100%;
}

.landing__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
  width: 100%;
  position: relative;
  z-index: 499;
}
.landing__content-images {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
}
.landing__content-image {
  height: 35em;
  width: 35em;
  position: relative;
  top: 15vh;
}
.landing__content-image:nth-child(1) {
  background: url("../img/landing-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.landing__content-image:nth-child(2) {
  background: url("../img/landing-img-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 3em;
}
.landing__content-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4em;
  padding-right: 10%;
  padding-left: 3%;
}
.landing__content-textbox {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.landing__content-img {
  height: 10%;
  width: auto;
}
.landing__content-heading {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  flex-basis: 25%;
}
.landing__content-body {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}

.landing__products {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding-left: 10vw;
  position: relative;
  z-index: 600;
}
.landing__products-cards {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4em;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.landing__products-cards::-webkit-scrollbar {
  display: none;
}
.landing__products-card {
  margin: 2em;
}
.landing__products-card-img {
  height: 100%;
  width: auto;
}
.landing__products-cont {
  width: 100%;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}
.landing__products-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.footer-upper {
  background-image: url("/frontend/img/footer-img.png");
  background-size: cover;
  background-position: 0% 35%;
  padding: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-upper__cta {
  color: #EFEFEB;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 1.5em;
}
.footer-upper__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-upper__btn-container .sell-work-btn {
  justify-self: center;
  width: fit-content;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.footer-lower {
  display: flex;
  justify-content: space-between;
  padding: 5em 8em;
  background-color: #EFEFEB;
  border-bottom: solid 1px #C3C3B7;
}
.footer-lower__left .footer-logo__display {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3em;
  color: #4A4F4F;
}
.footer-lower__left .footer-logo__tag {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-weight: 300;
  color: #4A4F4F;
}
.footer-lower__right {
  text-align: right;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  color: #D5E0A8;
}

.landing__background {
  width: 100%;
  height: 130vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing__background-img:nth-child(2) {
  position: relative;
  z-index: 20;
}

.landing__body {
  height: 130vh;
  width: 100%;
}

.landing__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
  width: 100%;
}
.landing__content-images {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}
.landing__content-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.landing__content-img {
  height: 10%;
  width: auto;
}
.landing__content-heading {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.landing__content-body {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-upper {
  background-image: url("/frontend/img/footer-img.png");
  background-size: cover;
  background-position: 0% 35%;
  padding: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-upper__cta {
  color: #EFEFEB;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 1.5em;
}
.footer-upper__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-upper__btn-container .sell-work-btn {
  justify-self: center;
  width: fit-content;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.footer-lower {
  display: flex;
  justify-content: space-between;
  padding: 5em 8em;
  background-color: #EFEFEB;
  border-bottom: solid 1px #C3C3B7;
}
.footer-lower__left .footer-logo__display {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3em;
  color: #4A4F4F;
}
.footer-lower__left .footer-logo__tag {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-weight: 300;
  color: #4A4F4F;
}
.footer-lower__right {
  text-align: right;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25em;
  color: #4A4F4F;
}
.footer-lower__right .footer-nav__item {
  cursor: pointer;
}
.footer-lower__right .footer-nav__item:hover {
  font-weight: 600;
}
.footer-bottom {
  background-color: #EFEFEB;
  display: flex;
  justify-content: space-between;
  padding: 5em 8em;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.5em;
  color: #4A4F4F;
  font-weight: 400;
}
.footer-bottom .socials {
  display: flex;
  color: white;
}
.footer-bottom .socials-container {
  background-color: #F4794F;
  margin-left: 1em;
  line-height: 2em;
  width: 2em;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}