* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5% !important;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: inherit !important;
}

a:link {
  text-decoration: none;
  color: unset;
}

a:visited {
  text-decoration: none;
  color: unset;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.test {
  padding: 5rem;
}
.test .title, .test .heading, .test .sub-heading, .test .body-text {
  padding-bottom: 2em;
}
.test .title {
  padding-top: 2em;
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.test .heading {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.test .sub-heading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.test .body-text {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.test .btn-one {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.test .btn-two {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #D5E0A8;
  color: #4A4F4F;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.test .btn-three {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}

.nav {
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  z-index: 100;
}
.nav__logo {
  flex-basis: 39.5%;
  z-index: 51;
}
.nav-logo {
  width: 20vw;
}
.nav__navigation {
  flex-basis: 60.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
}
.nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 10vw;
  display: none;
}
.nav__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 10vw;
}
.nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9em;
  color: #fff;
  margin-bottom: 0;
}
.nav-li {
  font-family: "Assistant", sans-serif;
  font-size: 1.6em;
  font-weight: 200;
}
.nav-li:hover {
  color: #D5E0A8;
}
.nav-back {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}
.nav__btn {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
}
.nav__back {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  display: none;
}
.nav-fa-landing {
  color: #F4794F;
  font-size: 3em;
}
.nav-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .nav__logo {
    flex-basis: 37%;
  }
  .nav__navigation {
    flex-basis: 63%;
  }
}
.cards {
  width: 18vw;
  border: none;
  background: none;
  border-radius: 0;
  cursor: pointer;
}
.cards-img {
  width: 100%;
  height: 100%;
}
.cards__img:hover {
  outline: solid 8px #D5E0A8;
  outline-offset: -4px;
  outline-style: solid;
  transition: 0.4s;
}
.cards__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  padding: 0.5em;
}
.cards__body p {
  margin: 0;
}
.cards__body-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards__body-bottom {
  color: #C3C3B7;
  font-style: italic;
}

.secondary-nav {
  width: 100%;
  height: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: spa;
  text-transform: uppercase;
  position: relative;
  z-index: 5000;
}
.secondary-nav__logo {
  flex-basis: 25%;
  z-index: 51;
}
.secondary-nav__logo .secondary-nav-logo {
  width: 17vw;
}
.secondary-nav a {
  color: #4A4F4F;
  text-decoration: none;
}
.secondary-nav__navigation {
  flex-basis: 68vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
}
.secondary-nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 10vw;
  display: none;
}
.secondary-nav__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.secondary-nav__ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #4A4F4F;
  padding-right: 15vw;
}
.secondary-nav-li {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
}
.secondary-nav-li:hover {
  color: #D5E0A8;
}
.secondary-nav-back {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
  font-size: 1.8em;
}
.secondary-nav__back-arrow {
  display: none;
}
.secondary-nav__btn {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  white-space: nowrap;
}
.secondary-nav__back {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
}
.secondary-nav-fa-landing {
  color: #4A4F4F;
  font-size: 3em;
}
.secondary-nav-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  font-size: 1.8em;
}

.landing__hero {
  height: 100vh;
  width: 100%;
  background: url("../img/tom-crew-hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
  z-index: 30;
}
.landing__hero-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.landing__hero .landing__intro {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5em;
  text-align: center;
  width: 50%;
  z-index: 100;
}
.landing__hero .landing__intro-header {
  margin-right: 38%;
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.landing__hero .landing__intro-heading {
  color: #EFEFEB;
  font-size: 5rem;
}
.landing__hero .landing__intro-rotate {
  display: inline;
  text-indent: 0.4em;
}
.landing__hero .landing__intro-rotate-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #D5E0A8;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-rotate-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #D5E0A8;
}
.landing__hero .landing__intro-header {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.landing__hero .landing__intro-subheading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #EFEFEB;
}
.landing__hero .landing__intro-proceed {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4em;
}
.landing__hero .landing__intro-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  color: #EFEFEB;
}
.landing__hero .landing__intro-btn-alt {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  color: #D5E0A8;
}

.landing__background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}
.landing__background .page-heading__right {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.landing__background .page-heading__right .landing-background__right {
  width: 48vw;
  position: absolute;
  right: -25vw;
  top: -32vw;
  overflow: hidden;
  transform: rotate(-9.32deg);
}
.landing__background .page-heading__right .svg-curve-right {
  width: 40vw;
  height: auto;
  position: absolute;
  top: 8.5vw;
  right: -12vw;
}
.landing__background .page-heading__right .svg-curve-right .path-right {
  fill: transparent;
  width: 10vw;
  height: auto;
}
.landing__background .page-heading__right .svg-curve-right textPath {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  white-space: nowrap;
  fill: #4A4F4F;
}
.landing__background .page-heading__left {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.landing__background .page-heading__left .landing-background__left {
  width: 36vw;
  position: absolute;
  left: -12vw;
  top: -4vw;
  transform: rotate(10.32deg);
}
.landing__background .page-heading__left .svg-curve-left {
  width: 26vw;
  height: fit-content;
  position: absolute;
  top: 30.5vw;
  left: 7.5vw;
  font-size: 100%;
}
.landing__background .page-heading__left .svg-curve-left .path-left {
  fill: transparent;
  width: 15vw;
  height: auto;
}
.landing__background .page-heading__left .svg-curve-left textPath {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 5.25rem;
  letter-spacing: 0.15em;
  white-space: nowrap;
  fill: #4A4F4F;
}

.landing__body {
  height: fit-content;
  width: 100%;
}

.landing__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10em;
  width: 100%;
  position: relative;
  z-index: 499;
  height: inherit;
}
.landing__content-container {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}
.landing__content-images {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
}
.landing__content-image {
  width: 20vw;
  height: auto;
  position: relative;
  top: 15vh;
}
.landing__content-img {
  width: 100%;
  height: auto;
}
.landing__content-image:nth-child(2) {
  margin-left: 3em;
}
.landing__content-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4em;
  padding-right: 10%;
  padding-left: 3%;
  margin-top: 20vw;
}
.landing__content-textbox {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.landing__content-heading {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  flex-basis: 25%;
}
.landing__content-body {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}

.landing__products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding-left: 10vw;
  position: relative;
  z-index: 600;
}
.landing__products-cards {
  display: -webkit-inline-box;
  flex-direction: row;
  width: 100%;
  gap: 4em;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}
.landing__products-cards::-webkit-scrollbar {
  display: none;
}
.landing__products-card {
  margin: 2em;
}
.landing__products-card-img {
  height: 100%;
  width: auto;
}
.landing__products-cont {
  width: 100%;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}
.landing__products-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .landing__content-body {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .landing__hero .landing__intro h1 {
    font-size: 4rem;
  }

  .landing__content-container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: self-start;
  }
  .landing__content-images {
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
    padding: 0;
    flex-basis: 40%;
  }
  .landing__content-image {
    width: 25vw;
  }
  .landing__content-image:nth-child(2) {
    margin: 0;
  }
  .landing__content-text {
    flex-basis: 50%;
    justify-content: center;
    padding: 0;
    padding-bottom: 10vw;
  }
  .landing__content .cards {
    width: 25vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .landing__body {
    height: 120vh;
  }

  .landing__content {
    height: 120vh;
  }
  .landing__content-images {
    margin-top: 8em;
  }
}
@media screen and (min-width: 1500px) {
  .landing__content-img {
    width: 90%;
    height: auto;
  }
  .landing__content-body {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 10px) and (max-width: 768px) {
  .landing__content {
    flex-direction: column;
  }
  .landing__content-text {
    flex-basis: 100%;
    padding: 0;
    margin: 0% 10%;
    justify-content: center;
  }
  .landing__content-images {
    display: none;
  }
  .landing__content .cards {
    width: 25vw;
  }
}
.btn {
  position: relative;
  z-index: 9999;
}

.modal {
  z-index: 100000;
}
.modal__background {
  background: url("../img/form-background-crop.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}
.modal-header {
  border: none;
}
.modal-header > button {
  padding: 1em !important;
}
.modal-heading {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 5rem;
  text-align: center;
  align-self: center;
  width: 80%;
}
.modal-header__back {
  display: flex;
  flex-direction: row;
  gap: 2em;
  font-size: 0.5em;
  margin-left: 8em;
}
.modal-back-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  border: none;
}
.modal-back-btn:hover {
  color: #D5E0A8;
  border-bottom: 2px #D5E0A8 solid;
  transform: 0.4s;
  border: none;
}
.modal-back-btn i:hover {
  color: #D5E0A8;
  border-bottom: 2px #D5E0A8 solid;
  transform: 0.4s;
  border: none;
}
.modal-subtitle {
  font-size: 2rem;
}

@media screen and (min-width: 1500px) {
  .modal-header {
    font-size: 3rem;
  }
  .modal-title {
    font-size: inherit;
  }
  .modal-footer {
    border: none;
  }
}
@media screen and (min-width: 1500px) {
  .modal-header {
    font-size: 3rem;
  }
  .modal-title {
    font-size: inherit;
  }
  .modal-footer {
    border: none;
  }
}
.form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.form__input {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.form__input-box {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form__input-alt {
  width: 95%;
}
.form-text-input {
  border: none;
  background: #EFEFEB;
  padding: 0.5em;
  width: 100%;
}
.form__btns {
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.form-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  width: 100%;
}
.form-btn:hover {
  background-color: #D5E0A8;
  transition: 0.4s;
}
.form-btn-alt {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}
.form-btn-alt:hover {
  color: #D5E0A8;
  border-bottom: 2px #D5E0A8 solid;
  transform: 0.4s;
}
.form__divider {
  border-style: solid;
  border-width: 1px;
  width: 80%;
  border-color: #D5E0A8;
}
.form__radio {
  background: #EFEFEB;
  height: 4.5vh;
  width: 10vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.form__radio:hover {
  background: #D5E0A8;
  transition: 0.4s ease-in;
}
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  color: #000;
  cursor: pointer;
  height: 4.5vh;
  width: 10vw;
  z-index: 500;
}
.form__radio-all {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form__radio-all p {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.form__radio-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}
.form__footer {
  margin: 4em;
}
.form__image-preview-box {
  display: flex;
  flex-direction: row;
}
.form__image-preview {
  background: #F4794F;
  flex-basis: 30%;
}

.login {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4em;
}
.login-signup {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #D5E0A8;
  color: #4A4F4F;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  margin: 2em;
}

.signup {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4em;
}
.signup__store {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4em;
}
.signup__store-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  display: flex;
  flex-direction: row;
}
.signup__image-preview {
  padding: 0em 1em;
  margin-left: 1em;
  border: none;
  background: #D5E0A8;
}

.delete {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4em;
}
.delete__btns {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  width: 100%;
}
.delete-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  width: 30%;
}
.delete-btn-alt {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #D5E0A8;
  color: #4A4F4F;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  width: 30%;
}

.add-product__background {
  position: absolute;
  height: 200%;
  width: 100%;
  background: url("../img/add-products-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 15;
}

.upload {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 10%;
  z-index: 20;
}
.upload-heading {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.upload__header {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #C3C3B7;
  padding-right: 3em;
}
.upload-subheading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.upload__images {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.upload__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}
.upload__image-preview {
  padding: 0em 1em;
  border: none;
  margin-left: 0.5em;
  background: #D5E0A8;
}
.upload__image-input-box {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.upload__image-box {
  background: #F4794F;
  margin-top: 2em;
  width: 25vw;
  height: 25vw;
}
.upload__image-input {
  width: 100%;
}
.upload__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.upload__care {
  display: flex;
  flex-direction: row;
}
.upload__description {
  display: flex;
  flex-direction: row;
}
.upload__header {
  flex-basis: 33%;
}
.upload__form {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}
.upload__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.upload-text-input {
  border: none;
  background: #EFEFEB;
  padding: 0.5em;
  flex-basis: 60%;
  width: 100%;
  padding: 2em;
}
.upload-select-input {
  border: none;
  background: #EFEFEB;
  padding: 0.5em;
  flex-basis: 60%;
  width: 100%;
  padding: 2em;
}
.upload-select-input option {
  background: #C3C3B7;
}
.upload__label {
  flex-basis: 30%;
}
.upload-label {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.upload-sublabel {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.upload__input {
  flex-basis: 60%;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.upload__btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}

@media screen and (min-width: 1px) and (max-width: 1024px) {
  .upload__box {
    flex-direction: column;
  }
}
@media screen and (min-width: 1px) and (max-width: 1024px) {
  .upload__block {
    flex-direction: column;
    gap: 2em;
  }
  .upload__header {
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .upload__image {
    flex-direction: column;
    gap: 3vh;
  }
  .upload__image-input-box {
    width: 100%;
  }
  .upload__image-box {
    width: 80vw;
    height: 80vw;
  }
}
.add-product__background {
  position: absolute;
  height: 200%;
  width: 100%;
  background: url("../img/add-products-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 15;
}

.update {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 10%;
  z-index: 20;
  display: none;
}
.update-heading {
  font-family: "Assistant", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.update__header {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #C3C3B7;
  padding-right: 3em;
}
.update-subheading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.update__images {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.update__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}
.update__image-preview {
  padding: 0em 1em;
  border: none;
  margin-left: 0.5em;
  background: #D5E0A8;
}
.update__image-input-box {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.update__image-box {
  background: #F4794F;
  margin-top: 2em;
  width: 25vw;
  height: 25vw;
}
.update__image-input {
  width: 100%;
}
.update__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.update__care {
  display: flex;
  flex-direction: row;
}
.update__description {
  display: flex;
  flex-direction: row;
}
.update__header {
  flex-basis: 33%;
}
.update__form {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}
.update__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.update-text-input {
  border: none;
  background: #EFEFEB;
  padding: 0.5em;
  flex-basis: 60%;
  width: 100%;
  padding: 2em;
}
.update-select-input {
  border: none;
  background: #EFEFEB;
  padding: 0.5em;
  flex-basis: 60%;
  width: 100%;
  padding: 2em;
}
.update-select-input option {
  background: #C3C3B7;
}
.update__label {
  flex-basis: 30%;
}
.update-label {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}
.update-sublabel {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.update__input {
  flex-basis: 60%;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}
.update__btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}

@media screen and (min-width: 1px) and (max-width: 1024px) {
  .update__box {
    flex-direction: column;
  }
}
@media screen and (min-width: 1px) and (max-width: 1024px) {
  .update__block {
    flex-direction: column;
    gap: 2em;
  }
  .update__header {
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .update__image {
    flex-direction: column;
    gap: 3vh;
  }
  .update__image-input-box {
    width: 100%;
  }
  .update__image-box {
    width: 80vw;
    height: 80vw;
  }
}
.artist {
  min-height: 100vh;
  overflow: hidden;
}
.artist-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}
.artist-background .page-heading {
  height: 100%;
  width: 100%;
  left: 3vw;
  position: absolute;
  overflow: hidden;
}
.artist-background .page-heading .artist-background__right {
  width: 43vw;
  position: absolute;
  right: -25vw;
  top: -26vw;
  overflow: hidden;
  transform: rotate(-9.32deg);
}
.artist-background .page-heading .svg-curve {
  width: 35vw;
  height: auto;
  position: absolute;
  top: 8.5vw;
  right: -11.5vw;
}
.artist-background .page-heading path {
  fill: transparent;
  width: 10vw;
  height: auto;
}
.artist-background .page-heading textPath {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.15em;
  white-space: nowrap;
  fill: #4A4F4F;
}
.artist-background__left {
  height: fit-content;
  bottom: 20%;
}
.artist-profile {
  display: none;
  padding: 3% 10%;
  width: 100%;
  position: relative;
  z-index: 500;
}
.artist-profile__top {
  display: flex;
}
.artist-profile .top-left {
  display: flex;
  width: 80%;
}
.artist-profile .top-left__left {
  width: 15vw;
  min-height: 13vw;
  display: flex;
  flex-direction: column;
}
.artist-profile .top-left__left .artist-img {
  width: 10vw;
  padding-bottom: 5em;
}
.artist-profile .top-left__left .fa-circle {
  color: #F4794F;
}
.artist-profile .top-left__left .fa-stack {
  cursor: pointer;
  padding: 0;
  padding-right: 3vw;
  text-align: left;
}
.artist-profile .top-left__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  min-height: 13vw;
  justify-content: space-between;
  overflow: hidden;
}
.artist-profile .top-left__right .edit-profile-btn {
  background: transparent;
  border: none;
  font-size: 1em;
  padding-bottom: 6em;
  color: #D5E0A8;
  width: fit-content;
  cursor: pointer;
}
.artist-profile .top-left__right .edit-profile-btn :hover {
  color: #F4794F;
}
.artist-profile .top-left__right .edit-profile-btn :hover .fa-pen-to-square {
  color: #fff;
}
.artist-profile .top-left__right .edit-profile-btn .fa-pen-to-square {
  color: #4A4F4F;
}
.artist-profile .top-left__right .artist-name {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  color: #4A4F4F;
  padding-bottom: 1em;
}
.artist-profile .top-left__right .artist-about {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  color: #4A4F4F;
}
.artist-profile .artist-profile__bottom {
  margin-top: 7em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  position: relative;
  z-index: 600;
}
.artist-profile .artist-profile__bottom .artist-products {
  width: fit-content;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4em;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.artist-profile .artist-profile__bottom .artist-products::-webkit-scrollbar {
  display: none;
}
.artist-profile .artist-profile__bottom .card .edit-btns {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
}
.artist-profile .artist-profile__bottom .card .fa-stack {
  cursor: pointer;
  margin-bottom: 0.5em;
}
.artist-profile .artist-profile__bottom .card .fa-stack .fa-circle {
  color: #D5E0A8;
}
.artist-profile .artist-profile__bottom .card .fa-stack .circle-trash {
  color: #F4794F;
}
.artist-profile .artist-profile__bottom .card .fa-stack .fa-pen-to-square {
  color: #4A4F4F;
}

.products {
  padding: 3vw 10vw;
  padding-top: 0;
}
.products-title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3vw;
}
.products-title .title {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3.4em;
  color: #4A4F4F;
  border-bottom: solid 3px #4A4F4F;
}
.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6.666%;
  row-gap: 26.664%;
}
.products-container .cards {
  width: 20%;
}
.products-container .cards-img {
  border-radius: 0;
  cursor: pointer;
}
.products-container .cards-img:hover {
  outline: solid 8px #D5E0A8;
  outline-offset: -4px;
  outline-style: solid;
  transition: 0.4s;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .products-container .cards {
    width: 28.5%;
  }
}
@media (min-width: 481px) and (max-width: 768px), (max-width: 480px) {
  .products-container .cards {
    width: 44%;
  }
}
@media (min-width: 481px) and (max-width: 768px), (max-width: 480px) {
  .products-container {
    gap: 12%;
  }
}

.product-detail {
  display: none;
  padding: 3% 10%;
}
.product-detail__upper {
  display: flex;
  gap: 5vw;
}
.product-detail__upper .type {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #C3C3B7;
  font-size: 1.8em;
}
.product-detail__upper .product-name {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-size: 2.5em;
  font-weight: 500;
  color: #4A4F4F;
}
.product-detail__upper .artist-name {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #C3C3B7;
  font-size: 1.8em;
}
.product-detail__upper .price {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-weight: 700;
  color: #4A4F4F;
}
.product-detail__upper .info {
  padding: 1vw 0;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  color: #4A4F4F;
  font-size: 1.4em;
}
.product-detail__upper .product-btns {
  display: flex;
  gap: 1vw;
  padding-bottom: 2vw;
}
.product-detail__upper .product-btns .quantity {
  width: 2vw;
}
.product-detail__upper .product-btns .add-to-cart {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #D5E0A8;
  color: #4A4F4F;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  font-size: 1.4em;
}
.product-detail__upper .product-btns .add-to-cart:hover {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
  font-size: 1.4em;
}
.product-detail__upper .product-dropdowns {
  width: 100%;
}
.product-detail__upper .product-dropdowns .care-title, .product-detail__upper .product-dropdowns .shipping-title, .product-detail__upper .product-dropdowns .purchase-title {
  width: 100%;
  background-color: #EFEFEB;
  border-right: solid 2px #fff;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-detail__upper .product-dropdowns .care-title h6, .product-detail__upper .product-dropdowns .shipping-title h6, .product-detail__upper .product-dropdowns .purchase-title h6 {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  align-content: center;
  margin: 0;
  padding-left: 0.5em;
  color: #4A4F4F;
}
.product-detail__upper .product-dropdowns .care-drop-down, .product-detail__upper .product-dropdowns .shipping-drop-down, .product-detail__upper .product-dropdowns .purchase-drop-down {
  width: 3em;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #EFEFEB;
}

.product-images {
  display: flex;
}

.images-left {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding-right: 1vw;
}

.product-img-one, .product-img-two, .product-img-three {
  width: 8vw;
  height: 8vw;
}

.main-image {
  height: 26vw;
}

.product-description__upper {
  display: flex;
}
.product-description .product-care, .product-description .product-shipping, .product-description .product-purchase {
  display: flex;
  margin-bottom: 0.5vw;
}
.product-description .shipping-info, .product-description .care-info, .product-description .purchase-info {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  padding-bottom: 0.5vw;
  font-size: 1.2em;
  display: none;
}

.product-detail__lower {
  display: flex;
  padding-top: 4vw;
  gap: 4vw;
}
.product-detail__lower .product-artist {
  width: 40%;
}
.product-detail__lower .artist__upper {
  display: flex;
  gap: 2vw;
  padding-bottom: 2vw;
}
.product-detail__lower .artist-img {
  width: 6vw;
}
.product-detail__lower .artist-detail .artist-name {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
}
.product-detail__lower .artist-detail .view-profile {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}
.product-detail__lower .artist-bio {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.4em;
  padding-bottom: 2vw;
}
.product-detail__lower .artist-socials .fa-circle {
  color: #F4794F;
}
.product-detail__lower .artist-socials .fa-stack {
  cursor: pointer;
  padding: 0;
  padding-right: 3vw;
  text-align: left;
}
.product-detail__lower .comments {
  width: 60%;
}
.product-detail__lower .comments .comments-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}
.product-detail__lower .comments .comment-no {
  padding: 0.5em;
  color: #C3C3B7;
  font-weight: 400;
}
.product-detail__lower .comments .heading-container {
  display: flex;
  align-items: center;
}
.product-detail__lower .comments .heading {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6em;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.product-detail__lower .comments .fa-period {
  color: #EFEFEB;
  font-size: 2em;
}
.product-detail__lower .comments .add-comment-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.product-detail__lower .comments .comments-display {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-detail__lower .comments .comments-display .comment-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2vw;
  padding-bottom: 2vw;
}
.product-detail__lower .comments .comments-display .comment-container .commenter {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEB;
}
.product-detail__lower .comments .comments-display .comment-container .initials {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  color: #4A4F4F;
  margin-bottom: 0.1em;
}
.product-detail__lower .comments .comments-display .comment-container .comment {
  width: 75%;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.4em;
  margin: 0;
}
.product-detail__lower .comments .comments-display .reply-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  gap: 2vw;
  padding-bottom: 2vw;
}
.product-detail__lower .comments .comments-display .reply-container .seller {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D5E0A8;
}
.product-detail__lower .comments .comments-display .reply-container .initials {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  color: #4A4F4F;
  margin-bottom: 0.1em;
}
.product-detail__lower .comments .comments-display .reply-container .reply {
  width: 75%;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  text-align: right;
  font-weight: 400;
  font-size: 1.4em;
  margin: 0;
}
.product-detail__lower .comments .btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.product-detail__lower .comments .btn-container .see-all-btn {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F4794F;
  background-color: transparent;
  border: none;
  border-bottom: 2px #F4794F solid;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.footer-upper {
  background-image: url("/frontend/img/footer-img.png");
  background-size: 120%;
  background-position: 0% 35%;
  padding: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-upper__cta {
  color: #EFEFEB;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 1.5em;
}
.footer-upper__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-upper__btn-container .sell-work-btn {
  justify-self: center;
  width: fit-content;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F4794F;
  color: white;
  border: none;
  border-radius: none;
  padding: 0.75em 2em;
  cursor: pointer;
}
.footer-upper__btn-container :hover {
  background-color: #D5E0A8;
  color: #4A4F4F;
}
@media (min-width: 481px) and (max-width: 768px), (max-width: 480px) {
  .footer-upper__btn-container .sell-work-btn {
    font-size: 2em;
  }
}
.footer-lower {
  display: flex;
  justify-content: space-between;
  padding: 5em 8em;
  background-color: #EFEFEB;
  border-bottom: solid 1px #C3C3B7;
}
.footer-lower__left .footer-logo__display {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3em;
  color: #4A4F4F;
}
.footer-lower__left .footer-logo__tag {
  font-family: "Assistant", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-weight: 300;
  color: #4A4F4F;
}
.footer-lower__right {
  text-align: right;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4em;
  color: #4A4F4F;
}
.footer-lower__right .footer-nav__item {
  cursor: pointer;
}
.footer-lower__right .footer-nav__item:hover {
  font-weight: 600;
}
@media (min-width: 481px) and (max-width: 768px), (max-width: 480px) {
  .footer-lower {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer-lower .footer-logo__display {
    font-family: "Cremona", sans-serif;
    font-size: 3.75em;
    font-weight: 400;
    font-size: 5em;
    color: #4A4F4F;
    padding-top: 1em;
  }
  .footer-lower .footer-logo__tag {
    font-family: "Assistant", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    font-size: 3em;
    font-weight: 300;
    color: #4A4F4F;
  }
  .footer-lower__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-lower__right {
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    line-height: 2.2em;
    color: #4A4F4F;
    border-bottom: solid 1px #C3C3B7;
    padding-bottom: 2em;
  }
  .footer-lower__right .footer-nav__item {
    cursor: pointer;
  }
  .footer-lower__right .footer-nav__item:hover {
    font-weight: 600;
  }
}
.footer-bottom {
  background-color: #EFEFEB;
  display: flex;
  justify-content: space-between;
  padding: 5em 8em;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.6em;
  color: #4A4F4F;
  font-weight: 400;
}
.footer-bottom .privacy, .footer-bottom .welly-potters {
  display: flex;
  align-items: center;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}
.footer-bottom .socials {
  display: flex;
  color: white;
}
.footer-bottom .socials-container {
  background-color: #F4794F;
  margin-left: 1em;
  line-height: 2em;
  width: 2em;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 481px) and (max-width: 768px), (max-width: 480px) {
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 3em;
    padding-top: 2em;
    padding: 5em 2em;
  }
  .footer-bottom .privacy, .footer-bottom .welly-potters {
    font-size: 0.6em;
    padding-bottom: 1.5em;
  }
  .footer-bottom .socials {
    display: flex;
    color: white;
    padding-bottom: 1em;
    gap: 1em;
  }
  .footer-bottom .socials-container {
    background-color: #F4794F;
    margin: 0;
    line-height: 2em;
    width: 2em;
    border-radius: 2em;
    text-align: center;
    cursor: pointer;
  }
}

.landing-alt {
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.landing-alt path {
  fill: transparent;
  width: 30vw;
  height: auto;
}
.landing-alt .svg-curve {
  width: 45vw;
  height: auto;
  position: absolute;
  bottom: 8.5vw;
  left: 2.5vw;
}
.landing-alt path {
  fill: transparent;
  width: 10vw;
  height: auto;
}
.landing-alt textPath {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.15em;
  white-space: nowrap;
  fill: #4A4F4F;
}
.landing-alt__background-box {
  grid-column: 1/8;
  grid-row: 1/21;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.landing-alt__background-box-right {
  position: relative;
  grid-column: 13/21;
  grid-row: 2/14;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.landing-alt__background-img-right {
  position: relative;
  grid-column: 5/11;
  grid-row: 1/11;
  height: 100%;
  width: auto;
}
.landing-alt__background-img {
  grid-column: 14/21;
  grid-row: 2/10;
  width: 100%;
  height: 100%;
}
.landing-alt__heading {
  grid-column: 4/9;
  grid-row: 5/7;
}
.landing-alt__content-images {
  grid-column: 3/11;
  grid-row: 2/8;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.landing-alt__content-image {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}
.landing-alt__content-img {
  width: 90%;
  height: auto;
}
.landing-alt__content-text {
  grid-column: 12/19;
  grid-row: 6/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}
.landing-alt__content-textbox {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.landing-alt__content-heading {
  font-family: "Cremona", sans-serif;
  font-size: 3.75em;
  font-weight: 400;
  flex-basis: 25%;
}
.landing-alt__content-body {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
}