.cards{
    width: 18vw;
    border: none;
    background: none;

    &-img{
        width: 100%;
        height: 100%;
    }

    border-radius: 0;
    cursor: pointer;

    &__img:hover{
        outline: solid 8px $green;
        outline-offset: -4px;
        outline-style: solid;
        transition: 0.4s;
        
    }

    &__body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5em;
        @include body-text;
        padding: 0.5em;
    }

    &__body p {
        margin: 0;
    }

    &__body-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__body-bottom{
        color: $midgrey;
        font-style: italic;
    }
}