@font-face {
    font-family: "Cremona";
    src: url(/frontend/fonts/FontsFree-Net-Cremona.ttf);
}

@font-face {
    font-family: "Assistant";
    src: url(/frontend/fonts/Assistant-VariableFont_wght.ttf);
}