.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1000;


    &-upper{
        background-image: url("/frontend/img/footer-img.png");
        background-size: 120%;
        background-position: 0% 35%;
        padding: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media #{$tablet, $mobile}{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;;
        }

        &__cta{
            color: $lightgrey;
            font-family: $contentfont;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 2.5em;
            letter-spacing: .05em;
            text-align: center;
            padding-bottom: 1.5em;

            @media #{$tablet, $mobile}{
                font-size: 1.8em;
            }
            
        }

        &__btn-container{
            width: 100%;
            display: flex;
            justify-content: center;

            .sell-work-btn{
                justify-self: center;
                width:fit-content; 
                @include button-orange;
                
                
            }

            :hover{
                background-color: $green;
                color: $darkgrey;
            }

            @media #{$tablet, $mobile}{
                .sell-work-btn{
                    font-size: 1.5em;
                    padding: 0.5 1em;
                    
                }
            }
        }
        
    }

    &-lower{
        display: flex;
        justify-content: space-between;
        padding: 5em 8em;
        background-color: $lightgrey;
        border-bottom: solid 1px $midgrey;

        &__left{
            .footer-logo__display{
                @include title;
                font-size: 3em;
                color: $darkgrey;               
            }
            
            .footer-logo__tag{
                @include sub-heading;
                font-weight: 300;
                color: $darkgrey;
            }
        }

        &__right{
            text-align: right;
            @include body-text;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.4em;
            color: $darkgrey;

            .footer-nav{
                &__item{
                    cursor: pointer;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }


        @media #{$tablet, $mobile}{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        

            .footer-logo__display{
                @include title;
                font-size: 5em;
                color: $darkgrey;
                padding-top: 1em;

                @media #{$mobile} {
                    font-size: 3em;
                }
            }
            
            .footer-logo__tag{
                @include sub-heading;
                font-size: 3em;
                font-weight: 300;
                color: $darkgrey;

                @media #{$mobile} {
                    font-size: 1.5em;
                }
            }

            &__left{

                display: flex;
                flex-direction: column;
                align-items: center;

            }
    
            &__right{
                text-align: center;
                width: 100%;
                font-size: 1.8em;
                line-height: 2.2em;
                color: $darkgrey;
                border-bottom: solid 1px $midgrey;
                padding-bottom: 2em;
    
                .footer-nav{
                    &__item{
                        cursor: pointer;
                        &:hover{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    &-bottom{
        background-color: $lightgrey;
        display: flex;
        justify-content: space-between;
        padding: 5em 8em;
        @include body-text;
        font-size: 1.6em;
        color: $darkgrey;
        font-weight: 400;

        @media #{$mobile} {
            padding: 5em;
        }

        .privacy, .welly-potters{
            display: flex;
            align-items: center;
            font-size: 1em;
            line-height: 1em;
            margin: 0;
        }

        .socials{
            display: flex;
            color: white;

            &-container{
                background-color: $orange;
                margin-left: 1em;
                line-height: 2em;
                width: 2em;
                border-radius: 2em;
                text-align: center;
                cursor: pointer;

                @media #{$mobile} {
                    line-height: 1.5em;
                    width: 1.5em;
                }
                
            }
        }

        @media #{$tablet, $mobile}{
            flex-direction: column-reverse;
            align-items: center;
            font-size: 3em;
            padding-top: 2em;
            padding: 5em 2em;

            .privacy, .welly-potters{
                font-size: .6em;
                padding-bottom: 1.5em;
            }

            .socials{
                display: flex;
                color: white;
                padding-bottom: 1em;
                gap: 1em;
    
                &-container{
                    background-color: $orange;
                    margin: 0;
                    line-height: 2em;
                    width: 2em;
                    border-radius: 2em;
                    text-align: center;
                    cursor: pointer;
                }
            }
    
        }
    }
}