.landing__hero{
    height: 100vh;
    width: 100%;
    background: url('../img/tom-crew-hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    z-index: 30;

    &-overlay{
        height: 100vh;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.200);
        z-index: 50;
    }


    .landing__intro{
        @include center-flex;
        flex-direction: column;
        gap: 3.5em;
        text-align: center;
        width: 50%;
        z-index: 100;
        

        &-header{
            margin-right: 38%;
            @include title;
        }
        

        &-heading{
            // text-transform: uppercase;
            color: $lightgrey;
            font-size: 5rem;
        }

        &-rotate{
            display: inline;
            text-indent: 0.4em;
        }

        &-rotate-1 span{
            position: absolute;
            opacity: 0;
            overflow: hidden;
            color: $green;
            -webkit-animation: rotateWord 18s linear infinite 0s;
            -ms-animation: rotateWord 18s linear infinite 0s;
            animation: rotateWord 18s linear infinite 0s;
        }

        &-rotate-1 span:nth-child(2) { 
            -webkit-animation-delay: 3s; 
            -ms-animation-delay: 3s; 
            animation-delay: 3s; 
            color: $green;
        }
        &-rotate-1 span:nth-child(3) { 
            -webkit-animation-delay: 6s; 
            -ms-animation-delay: 6s; 
            animation-delay: 6s; 
            color: $green;	
        }
        &-rotate-1 span:nth-child(4) { 
            -webkit-animation-delay: 9s; 
            -ms-animation-delay: 9s; 
            animation-delay: 9s; 
            color: $green;
        }
        &-rotate-1 span:nth-child(5) { 
            -webkit-animation-delay: 12s; 
            -ms-animation-delay: 12s; 
            animation-delay: 12s; 
            color: $green;
        }


        &-header{
            @include title;
        }

        &-subheading{
            @include sub-heading;
            color: $lightgrey;
        }

        &-proceed{
            @include center-flex;
            flex-direction: column;
            gap: 0.4em;
        }

        &-btn{
            @include button-orange;
            color: $lightgrey;
        }
    
        &-btn-alt{
            @include body-text;
            color: $green;
        }
    }
  
}

.landing__background{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        z-index: 100;
        overflow: hidden;

        .page-heading__right{
            height: 100%;
            width: 100%;
            // left: 3vw;
            position: absolute;
            overflow: hidden;

            .landing-background__right{
                width: 48vw;
                position: absolute;
                right: -25vw;
                top: -40vw;
                overflow: hidden;
                transform: rotate(-9.32deg);

                @media #{$laptop, $smallScreen}{
                    width: 52vw;
                    right: -25vw;
                    top: -42vw;
                }
            }

            .svg-curve-right{
                width: 40vw;
                height: auto;
                position: absolute;
                top: 1vw;
                right: -12vw;

                .path-right{
                    fill: transparent;
                    width: 10vw; 
                    height: auto;
                }

               
                textPath{                
                    @include title;
                    font-size: 3.5rem;
                    letter-spacing: .15em;
                    white-space: nowrap;
                    fill: $darkgrey;
                
                 
                }

                @media #{$laptop, $smallScreen}{
                    width: 45vw;
                    top: 2vw;
                    right: -12vw;
    
                }

            }        

           
        }

        .page-heading__left{
            height: 100%;
            width: 100%;
            // left: 3vw;
            position: absolute;
            overflow: hidden;

            .landing-background__left{
                width: 36vw;
                position: absolute;
                left: -12vw;
                top: -6vw;
                // overflow: hidden;
                transform: rotate(10.32deg);

                @media #{$laptop, $smallScreen} {
                    width: 45vw;
                    left: -12vw;
                    top: -4vw;
                }
            }

            .svg-curve-left{
                width: 26vw;
                height: fit-content;
                position: absolute;
                top: 28.5vw;
                left: 7.5vw;
                font-size: 100%;

                .path-left {
                    fill: transparent;
                    width: 15vw; 
                    height: auto;

                }

                
                textPath{                
                    @include title;
                    font-size: 5.25rem;
                    letter-spacing: .15em;
                    white-space: nowrap;
                    fill: $darkgrey;
                
                 
                }

                @media #{$laptop, $smallScreen} {
                    width: 32vw;
                    top: 39.5vw;
                    left: 12.5vw;
                }
            }

            
            
        }

        
    // width: 100%;
    // // height: 130vh;
    // position: absolute;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    // &-box{
    //     flex-basis: 40%;
    // }

    // &-box:nth-child(1){
    //     position: relative;
    //     top: 15vh;
    // }

    // &-img{
    //     width: 100%;
    //     height: auto;
    // }

    // &-box:nth-child(2){
    //     text-align: right;

       
        
    // }

    // &-img:nth-child(1){
    //     position: relative;
    // }

    // &-img:nth-child(2){
    //     position: relative;
    //     z-index: 20;
    //     // flex-basis: 50%;
    // }

    // .svg-curve{
    //     width: 20vw;
    //     height: auto;
    //     position: absolute;
    //     top: 16vw;
    //     right: -6.5vw;
    //     overflow: visible;

    // }

    // path {
    //     // fill: transparent;
    //     width: 10vw; 
    //     height: auto;
    // }

    // textPath{                
    //     @include title;
    //     font-size: 4em;
    //     letter-spacing: .15em;
    //     white-space: nowrap;
    //     fill: $darkgrey;
    // }

    // .bg-img-right{
    //     width: 43vw;
    //     position: absolute;
    //     right: -20vw;
    //     top: -28vw;
    //     transform: rotate(-9.32deg);
    //     z-index: 0;
    // }
  
}



.landing__body{
    height: fit-content;
    width: 100%;
    // display: flex;
    // flex-direction: column;
}

.landing__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 70vh;
    gap: 10em;
    width: 100%;
    position: relative;
    z-index: 499;
    height: inherit;

    &-container{
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        
        @media #{$laptop, $smallScreen} {
            padding: 0 10%;
            gap: 5vw;
        }
    }
    
    &-images{
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        padding-left: 10vw;
        gap: 1.6rem;
        // justify-content: center;

        @media #{$laptop, $smallScreen} {
            margin-top: 20vw !important;
            flex-basis: 30% !important;
        }
    }

    &-image{
        width: 18vw;
        height: auto;
        position: relative;
        top: 15vh;

        @media #{$laptop, $smallScreen} {
            top: 5vw;
            width: 20vw;
            display: flex;
            justify-content: flex-end;
        }
    }

    &-img{
        width: 100%;
        height: auto;

        
        @media #{$laptop, $smallScreen} {
            width: 20vw;
        }

    }

    // &-image:nth-child(1){
    //     // background: url('../img/landing-img-1.png');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // }

    
    &-image:nth-child(2){
        margin-left: 3em;
    }


    &-text{
        min-height: 25vw;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4em;
        padding-right: 10%;
        padding-left: 3%;
        margin-top: 22vw;

        @media #{$laptop, $smallScreen} {
            flex-basis: 70% !important;
            margin-top: 5vw;
            padding-right: 5vw;
        }
        
    }

    &-textbox{
        
        display: flex;
        flex-direction: row;
        gap: 2em;

        
 
    }


    &-heading{
        @include title;
        flex-basis: 25%;
    }

    &-body{
        @include body-text;
    }

}

.landing__products{
    // height: 80vh;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding-left: 10vw;
    position: relative;
    z-index: 600;

    &-cards{
        display: -webkit-inline-box;
        // display: flex;
        flex-direction: row;
        cursor: grab;
        width: 100%;
        gap: 4em;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        // overflow-x: scroll;
        overflow: auto;
    }

    &-cards::-webkit-scrollbar{
        display: none;
    }


    &-card{
        margin: 2em;
    }

    &-card-img{
        height: 100%;
        width: auto;
    }

    &-cont{
        width: 100%;
        padding-right: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2em;
    }

    &-btn{
        @include button-text;
    }
}


@media screen and (min-width: 1201px) and (max-width:1500px) {


    // .landing__body{
        // height: 160vh;
    // }
    
    .landing__content{
        
        // height: 80vh;

        &-body{
            font-size: 1.3em;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .landing__hero{

    
    .landing__intro h1{
        font-size: 4rem;
    }

}
    .landing__content{
        

        &-container{
            flex-direction: row-reverse;
            justify-content: center;
            align-items: self-start;
        }

        &-images{
            flex-direction: column;
            align-items: flex-end;
            gap: 2em;
            padding: 0;
            flex-basis: 40%;
        }

        &-image{
            width: 25vw;
        }

        &-image:nth-child(2){
            margin: 0;
        }

        &-text{
            flex-basis: 50%;
            justify-content: center;
            padding: 0;
            padding-bottom: 10vw;
        }

        .cards{
            width: 25vw;
        }

    }
}

// Extra Tablet Sizing
@media screen and (min-width: 768px) and (max-width: 1000px) {

    .landing__body{
        height: 120vh;
    }

    .landing__content{
        height: 120vh;

        &-images{
            margin-top: 8em;
        }
    }
}



// Large Screens

@media screen and (min-width: 1500px) {
    
    .landing__content{


        &-img{
            width: 90%;
            height: auto;
        }

        &-body{
            font-size: 1.7em;
        }
    }
}

@media screen and (min-width: 10px) and (max-width: 768px){

    .landing__content{

        flex-direction: column;

        &-text{
            flex-basis: 100%;
            padding: 0;
            margin: 0% 10%;
            justify-content: center;
        }

        &-images{
            display: none;
        }

        .cards{
            width: 25vw;
        }
    }
}

.btn{
    position: relative;
    z-index: 9999;
}