.landing__hero{
    height: 100vh;
    width: 100%;
    background: url('../img/tom-crew-hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    z-index: 30;

    &-overlay{
        height: 100vh;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.200);
        z-index: 50;
    }


    .landing__intro{
        @include center-flex;
        flex-direction: column;
        gap: 3.5em;
        text-align: center;
        width: 50%;
        z-index: 100;
        

        &-header{
            margin-right: 38%;
            @include title;
        }
        

        &-heading{
            // text-transform: uppercase;
            color: $lightgrey;
            font-size: 5rem;
        }

        &-rotate{
            display: inline;
            text-indent: 0.4em;
        }

        &-rotate-1 span{
            position: absolute;
            opacity: 0;
            overflow: hidden;
            color: $green;
            -webkit-animation: rotateWord 18s linear infinite 0s;
            -ms-animation: rotateWord 18s linear infinite 0s;
            animation: rotateWord 18s linear infinite 0s;
        }

        &-rotate-1 span:nth-child(2) { 
            -webkit-animation-delay: 3s; 
            -ms-animation-delay: 3s; 
            animation-delay: 3s; 
            color: $green;
        }
        &-rotate-1 span:nth-child(3) { 
            -webkit-animation-delay: 6s; 
            -ms-animation-delay: 6s; 
            animation-delay: 6s; 
            color: $green;	
        }
        &-rotate-1 span:nth-child(4) { 
            -webkit-animation-delay: 9s; 
            -ms-animation-delay: 9s; 
            animation-delay: 9s; 
            color: $green;
        }
        &-rotate-1 span:nth-child(5) { 
            -webkit-animation-delay: 12s; 
            -ms-animation-delay: 12s; 
            animation-delay: 12s; 
            color: $green;
        }


        &-header{
            @include title;
        }

        &-subheading{
            @include sub-heading;
            color: $lightgrey;
        }

        &-proceed{
            @include center-flex;
            flex-direction: column;
            gap: 0.4em;
        }

        &-btn{
            @include button-orange;
            color: $lightgrey;
        }
    
        &-btn-alt{
            @include body-text;
            color: $green;
        }
    }
  
}

.landing__background{
    width: 100%;
    height: 130vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-box{
        flex-basis: 40%;
    }

    &-box:nth-child(1){
        position: relative;
        top: 15vh;
    }

    &-img{
        width: 100%;
        height: auto;
    }

    &-box:nth-child(2){
        text-align: right;
    }

    &-img:nth-child(1){
        position: relative;
    }

    &-img:nth-child(2){
        position: relative;
        z-index: 20;
        // flex-basis: 50%;
    }
}

.landing__body{
    height: 140vh;
    width: 100%;
    // display: flex;
    // flex-direction: column;
}

.landing__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 499;
    
    &-images{
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        padding-left: 10vw;
        // justify-content: center;
    }

    &-image{
        width: 20vw;
        height: auto;
        position: relative;
        top: 15vh;
    }

    &-img{
        width: 100%;
        height: auto;
    }

    // &-image:nth-child(1){
    //     // background: url('../img/landing-img-1.png');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // }

    
    &-image:nth-child(2){
        margin-left: 3em;
    }


    &-text{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4em;
        padding-right: 10%;
        padding-left: 3%;
    }

    &-textbox{
        display: flex;
        flex-direction: row;
        gap: 2em;
    }


    &-heading{
        @include title;
        flex-basis: 25%;
    }

    &-body{
        @include body-text;
    }

}

.landing__products{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding-left: 10vw;
    position: relative;
    z-index: 600;

    &-cards{
        width: 100%;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4em;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }

    &-cards::-webkit-scrollbar{
        display: none;
    }


    &-card{
        margin: 2em;
    }

    &-card-img{
        height: 100%;
        width: auto;
    }

    &-cont{
        width: 100%;
        padding-right: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2em;
    }

    &-btn{
        @include button-text;
    }
}


@media screen and (min-width: 1201px) and (max-width:1500px) {


    .landing__body{
        height: 160vh;
    }
    
    .landing__content{
        
        height: 80vh;

        &-body{
            font-size: 1.3em;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .landing__body{
        height: 200vh;
    }
    
    .landing__content{
        
        height: 110vh;

        &-body{
            font-size: 1.3em;
        }
    }
}

// Large Screens

@media screen and (min-width: 1500px) {
    
    .landing__content{


        &-img{
            width: 90%;
            height: auto;
        }

        &-body{
            font-size: 1.7em;
        }
    }
}

// Tablet

@media screen and (min-width: 769px) and (max-width: 1024px){
    .landing__body{
        height: 100vh;
    }
    
    .landing__content{
        
        height: 110vh;

        &-text{
            justify-content: center;
        }

        &-body{
            font-size: 1.3em;
        }
    }
}

.btn{
    position: relative;
    z-index: 9999;
}