.add-product__background{
    position: absolute;
    height: 200%;
    width: 100%;
    background: url('../img/add-products-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 15;
}


.upload{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 10%;
    z-index: 20;

    &-heading{
        @include heading;
    }

    &__image-header{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    &__header{
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: $midgrey;
        padding-right: 3em;
    }

    &-subheading{
        @include sub-heading;
    }

    &-subheading-alt{
        padding-left: 1em;
        border-left: solid 2px $green;
        @include sub-heading;
        font-style: italic;
    }

    &__images{
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding-top: 20vw;
    }

    &__image{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3%;
    }

    &__image-preview{
        padding: 0em 1em;
        border: none;
        margin-left: 0.5em;
        background: $green;
    }

    &__image-input-box{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
    }

    &__image-box{
        background: $orange;
        margin-top: 2em;
        width: 25vw;
        height: 25vw;
    }

    &__image-input{
        width: 100%;
    }

    &__block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__care{
        display: flex;
        flex-direction: row;
    }

    &__description{
        display: flex;
        flex-direction: row;
    }

    &__header{
        flex-basis: 33%;
    }

    &__form{
        flex-basis: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3em;
    }

    &__box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-text-input{
        border: none;
        background: $lightgrey;
        padding: 0.5em;
        flex-basis: 60%;
        width: 100%;
        padding: 2em
    }

    &-select-input{
        border: none;
        background: $lightgrey;
        padding: 0.5em;
        flex-basis: 60%;
        width: 100%;
        padding: 2em;
    }

    &-select-input option{
        background: $midgrey
    }

    &__label{
        flex-basis: 30%;
    }

    &-label{
        @include sub-heading;
    }

    &-sublabel{
        @include body-text;
    }

    &__input{
        flex-basis: 60%;
        @include body-text;
    }

    &__btn {
        @include button-orange;
        width: 100%;
    }
}

@media screen and (min-width: 1px) and (max-width: 864px) {
    
    .upload{
        
        &__box{
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 1024px) {
    .upload{
        
        &__block{
            flex-direction: column;
            gap: 2em;
        }

        &__header{
            border-width: 0px;
            border-bottom-width: 1px;
        }

        &__image{
            flex-direction: column;
            gap: 3vh;
        }

        &__image-input-box{
            width: 100%;
        }

        &__image-box{
            width: 80vw;
            height: 80vw;
        }
    }
}