.upload{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 10%;

    &-heading{
        @include heading;
    }

    &-subheading{
        @include body-text;
    }

    &__images{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    &__image{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3%;
    }

    &__image-input-box{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
    }

    &__image-box{
        background: $orange;
        margin-top: 2em;
        height: 50em;
    }

    &__image-input{
        width: 100%;
    }

    &__block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__care{
        display: flex;
        flex-direction: row;
    }

    &__description{
        display: flex;
        flex-direction: row;
    }

    &__header{
        flex-basis: 33%;
    }

    &__form{
        flex-basis: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3em;
    }

    &__box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-text-input{
        border: none;
        background: $lightgrey;
        padding: 0.5em;
        flex-basis: 60%;
        width: 100%;
        padding: 2em
    }

    &-select-input{
        border: none;
        background: $lightgrey;
        padding: 0.5em;
        flex-basis: 60%;
        width: 100%;
        padding: 2em;
    }

    &__label{
        flex-basis: 30%;
    }

    &-label{
        @include sub-heading;
    }

    &-sublabel{
        @include body-text;
    }

    &__input{
        flex-basis: 60%;
    }

  
}