$lightgrey:  #EFEFEB;
$midgrey: #C3C3B7;
$darkgrey: #4A4F4F;
$green:  #D5E0A8;
$orange: #F4794F;
$white: #fff;
$black: #000;

$displayfont: "Cremona", sans-serif;
$contentfont: "Assistant", sans-serif;

// media query breakpoints
$mobile: "(max-width: 480px)";
$tablet: "(min-width: 481px) and (max-width: 768px)";
$smallScreen: "(min-width: 769px) and (max-width: 1024px)";
$laptop: "(min-width: 1025px) and (max-width: 1200px)";
$desktop: "(min-width: 1201px)";